p                                                                                                                                                                           
{
    color: blue;
    background-color: white;
    font-size:120%;

}

H1                                                                                                                                                                          
{

    font-size: 300%;
    text-align: center;

}

H2                                                                                                                                                                          
{

    font-size:200%;
}

H3                                                                                                                                                                          
{

    font-size:300%;
              text-align: center;
color: red;
}

H4                                                                                                                                                                          
{

    font-size:300%;
    text-align: center;

}
